
.logo-wrapper{
    display: flex;
    align-items: center;
}

.home-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
}

.video-wrapper{
    border-radius: 150px;
    overflow: hidden;
}

.p {
    color: #1f28eb;
}

.h-title{
    font-size: 4vw;
    margin: 0px;
}